.loading-websocker {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#343a40;
    opacity: 0.8;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-message {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    /* identical to box height */
    text-align: center;

    /* Primary Text Color */
    color: #EDF5E1;
}