.loading {
    background-color: #343a40;
    width:100%;
    height:100%;
    left:0;
    top:0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 1031;
    padding: 20px;
}

.navbar-sos {
    font-family: Gravitas One;
}

.dropdown-item.active {
    color: #16181b !important;
    background-color: #f8f9fa !important;
}

#dropdown-basic {
    background-color: transparent;
    min-width: 158px;
    border-color: transparent;
}

#dropdown-basic::after {
    color: #333333;
    content: "";
}

.loading.complete {
    top: -100%;
}

#navbar {
    background-color: #05386B !important;
}

.primary-button {
    background: #05386B !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-color: #05386B !important;
    color: #EDF5E1 !important;
    border-radius: 4px !important;
}

.danger-button {
    background: #FF0000 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-color: #FF0000 !important;
    color: #EDF5E1 !important;
    border-radius: 4px;
}

.btn:disabled {
    cursor: not-allowed;
}

.disabled {
    cursor: not-allowed;
}