.chat-card {
    background-color: #379683 !important;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 80%;
    height: 100%;
}

.all-chats {
    height: 70%;
    padding: 10px;
    display: flex;
    /* align-items: flex-end; */
    /* flex-wrap: nowrap; */
    flex-direction: column;
    overflow-y: auto;
}

.all-chats div {
    min-width: 100%;
    word-wrap: anywhere;
}

.all-chats span {
    color: #EDF5E1;
}

.all-chats hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

.input-chat {
    height: 30%;
    padding: 10px;
    border-top: 2px solid #999999;
}

.the-input {
    height: 50%;
}

.the-input input {
    width: 100%;
}

.the-button {
    height: 50%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.the-button button {
    font-size: 0.75em;
}

.input-chat form {
    height: 100%;
}