.join-room {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 4px;
    background-color: #318372;
    justify-self: center;
    border: #05386B solid 2px;
}

.join-room > div {
    width: 100%;
    display: flex;
    color: #EDF5E1;
}

.join-room-header {
    height: 20%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.join-room-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.join-room-form .form-control {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.join-room-form > form {
    height: 100%;
}

.join-room-buttons {
    height: 20%;
    display: flex;
    flex-direction: row;
}

.join-room-buttons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}