.enter-room-modal {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 22%;
    position: absolute;
    top: 30%;
    left: 37%;
    border-radius: 4px;
    background-color: #318372;
    justify-self: center;
    border: #05386B solid 2px;
    z-index: 1;
}

.enter-room-modal > div {
    width: 100%;
    display: flex;
    color: #EDF5E1;
}

.enter-room-header {
    height: 20%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: #EDF5E1;
}

.enter-room-form {
    height: 80%;
    display: flex;
    justify-content: center;
}

.enter-room-buttons {
    display: flex;
    flex-direction: row;
}

.enter-room-buttons > div {
    display: flex;
    justify-content: center;
    width: 50%;
}