.add-friend-modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 4px;
    background-color: #318372;
    justify-self: center;
    border: #05386B solid 2px;
}

.add-friend-modal > div {
    width: 100%;
    display: flex;
    color: #EDF5E1;
}

.add-friend-modal-header {
    height: 20%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.add-friend-modal-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.outline-button {
    background-color: transparent;
    border-color: #ccc;
}

.search-user {
    display: flex;
    justify-content: center;
}

.search-user > input {
    width: 80%;
}

.add-friend-modal-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-users {
    width: 100%;
    margin: 10px;
    padding: 5px;
    height: 70%;
    border-radius: 4px;
    display: flex;
    overflow: auto;
    background-color: #379683;
}

.search-user .fa-search {
    color: #EDF5E1;
}

.tr-hover:hover {
    background-color: #318372;
    cursor: pointer;
}