.game {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.players-chat {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 5px solid #05386B;
}

.board {
    width: 80%;
}

.waiting-score {
    height: 60%;
    border-bottom: 5px solid #05386B;
    color: #EDF5E1;
}

.chat {
    height: 40%;
    padding: 10px 10px 20px 10px;
    display: flex;
    justify-content: center;
}

.the-sos-board {
    /* margin-top: 32px; */
    color: #EDF5E1 !important;
    display: flex;
    justify-content: center;
    height: 8%;
    align-items: flex-end !important;
    /* position: fixed; */
}

.waiting-players-turn {
    height: 25%;
}

.list-players {
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    padding: 10px;

    /* Primary Text Color */
    color: #EDF5E1;
}

.list-players .waiting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 20%;
    /* overflow: hidden; */
}

.list-players table tr td {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;

    /* Primary Text Color */
    color: #EDF5E1;
}

.list-players table tr td div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.list-players table tr td:last-child {
    color: #05386B;
}

.start-leave-section {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.start-leave {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-leave button {
    padding: 0rem 0.35rem;
}

.waiting-turn {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.count-player-count-down {
    width: 100%;
    height: 30%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Primary Text Color */
    color: #EDF5E1;
}

.rank-players {
    border-top: 5px solid #05386B;
}