.block {
    display: flex;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-size: calc(2vw + 3vh);
    font-weight: bold;
    /* border: 1px solid #5CDB95; */
    margin: 2px 2px 4px 2px;
    background-color: #05386B;
    transition: background 0.2s ease-in-out;
    color: #EDF5E1;
}

.strike {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strike-left-diagonal {
    background: linear-gradient(to right top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.strike-right-diagonal {
    background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.strike-vertical {
    background: linear-gradient(to right, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.strike-horizontal {
    background: linear-gradient(to top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

@media only screen and (max-width: 527px) {
    .block {
        width: 9vw;
        height: 9vw;
    }
}