.friends {
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;

    /* Primary Text Color */
    color: #EDF5E1;
}

.friends-header {
    height: 10%;
    background-color: #379683;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-header span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}

.friends-list {
    padding: 20px;
    height: 90%;
    background-color: #05386B;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.friends-list img {
    width: 20px;
    height: 20px;
}

.friends-list tr div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tr-friends-list-hover:hover {
    background-color: #042241;
    cursor: pointer;
}

.friends-list tr th:first-child {
    width: 23%;
}

.friends-list table td,
.friends-list table th {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    padding-bottom: 0.61rem;
}

@media only screen and (max-width: 992px) {
    .friends {
        position: fixed;
    }
}

.add-friend {
    cursor: pointer;
}

.online {
    color:  #8EE4AF;
}