.scoreboard {
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;

    /* Primary Text Color */
    color: #EDF5E1;
}

.scoreboard-header {
    height: 10%;
    background-color: #379683;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard-header span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}

.scoreboard-list {
    padding: 20px;
    height: 90%;
    background-color: #05386B;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.gold {
    color: #FFD700;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.table-borderless {
    border: none !important;
}

.table-borderless td,
.table-borderless th {
    border: none !important;
}

.scoreboard-list img {
    width: 20px;
    height: 20px;
}

.scoreboard-list tr div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard-list tr th:first-child {
    width: 1%;
}

.scoreboard-list table td,
.scoreboard-list table th {
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    padding-bottom: 0.61rem;
}

@media only screen and (max-width: 992px) {
    .scoreboard {
        position: fixed;
    }
}

.position-number {
    font-family: Gravitas One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #FFFFFF;
}