.table-rooms {
    background: #379683;
    border-radius: 5px;
    width: 52%;
    height: 100%;
    padding: 10px;
}

.room-wrapper {
    height: 56vh;
}

.welcome-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    /* identical to box height */
    text-align: center;

    /* Primary Text Color */
    color: #EDF5E1;
}

.table {
    border: 0.5px solid #8EE4AF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;

    /* Primary Text Color */
    color: #EDF5E1 !important;
}

.table-rooms tbody tr:hover {
    background-color: #318372;
    cursor: pointer;
}

.table-responsive {
    display: inline-table !important;
}

/* .table-bordered > thead > tr > th, */
/* .table-bordered > thead > tr > td, */
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
        border: 0.5px solid #8EE4AF;
}

tr th:first-child {
    width: 40%;
}

tr td {
    width: 20%;
}

th,
td {
    border: 2px solid #8EE4AF !important;
}

thead tr th,
thead tr td,
thead tr {
    border-bottom: 1px solid #379683 !important;
}

.server-row {
    width: 10%;
}

.all-games {
    height: calc(100% - 70px);
    overflow-y: auto;
}

@media only screen and (max-width: 992px) {
    .table-rooms {
        width: 90vw;
    }
}

@media only screen and (max-width: 490px) {
    .table {
        font-size: 0.7em;
    }
}

.corner-item {
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #379683;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-item:hover {
    background-color: #318372;
    cursor: pointer;
}

.corner-item img {
    width: auto;
    height: auto;
}

#friends-section {
    left: 7vw;
    bottom: 10vh;
}

#trophy-section {
    right: 7vw;
    bottom: 10vh;
}

.create-join-play {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.the-buttons {
    display: flex;
    flex-direction: row;
    width: 52%;
}

.the-buttons div {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 33%;
}

.the-buttons div button {
    height: 40px;
    width: 130px;
    background: #05386B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

@media only screen and (max-width: 992px) {
    .the-buttons {
        width: 90vw;
    }
}