.card {
    margin: 2rem;
    border: 0px !important;
    width: 375px;
    padding: 20px;
    background-color: #5CDB95 !important;
}

.wise-word {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    text-align: right;

    /* Primary Text Color */
    color: #EDF5E1;
    font-size: 2em;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.the-sos {
    /* The S|O|S */

    font-family: Gravitas One;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 81px;
    display: flex;
    align-items: center;

    /* Image or Secondary Background Color */
    color: #05386B;
}

.icon {
    min-width: 40px;
    position: absolute;
    padding-left: 13px;
    padding-top: 11px;
}

.play-text {
    text-decoration: underline #5CDB95;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 12px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #EDF5E1;
}

@media only screen and (max-width: 550px) {
    .play-text {
        display: none;
    }
}

#login-register-button:active {
    background: rgba(5, 56, 107, 0.8) !important;
}

#login-register-button:hover {
    background: #05386B !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px !important;
}

.form-control {
    padding-left: 35px !important;
    background-color: #379683 !important;
    border-radius: 30px !important;
    color: white !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}
  
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

.primary-background {
    height: 100%;
    background-color: #5CDB95;
}